.search_container {
	display: flex;
	justify-content: center;
	margin-top: 20px; 
}

.search_bar {
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	margin-bottom: 25px;
}

.search_bar input {
	height: 44px;
	width: 484px;
	border: none;
	padding-left: 10px;
}

.search_buttons button {
	height: 36px;
	border: none;
	background-color: #F2F2F2;
	font-size: 13px;
	font-weight: bold;
	padding: 0 16px;
}

.search_buttons {
	text-align: center;
}
